.message {
  font-size: 22px;
  text-transform: capitalize;
  color: skyblue;
  text-shadow: 5px 5px 4px rgba(0,0,0,0.6);
  font-family: sans-serif;
  background-color:slateblue;
  padding: 7px;
  border-radius: 10px;
}